/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

/* UTILITIES */
.container{
    width: 800px;
    margin: 0 auto;
}

/* HEADER */
header h1{
    text-align: center;
    font-size: 78px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1.2px 1.2px #666666;
}