/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

/* UTILITIES */
.container{
    width: 800px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* HEADER */
header h1{
    margin-bottom: 25px;
    text-align: center;
    font-size: 86px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1.4px 1.4px #666666;
}

/* CARD */
.card{
    float: left;
    width: 180px;
    height: 206px;
    margin: 12px;
    background-image: url("../img/pattern.png");
    background-size: contain;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  #666666;
}
.card:first-child{
    margin-left: 0;
}
.card:last-child{
    margin-right: 0;
}